.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 8px 16px;
    
    .nav-container {
        .mdc-fab:not(:last-child) {
            margin-right: 16px;
        }
    }

    .icon-btn {
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &.end {
        justify-content: end;
    }
}

.question-container,
.index-container,
.no-content {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.index-container {
    margin-bottom: 24px;
}

.question-container {
    .actions-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            margin: 0 8px;
        }
    }
}

.index-container {
    max-height: 240px;
    overflow: auto;

    .is-correct {
        --mdc-chip-label-text-color: #212121;
        background-color: #B9F6CA;
    }
    
    .is-wrong {
        --mdc-chip-label-text-color: #212121;
        background-color: #FFCCBC;
    }

    .is-active {
        --mdc-chip-label-text-color: white;
        background-color: #ffab00;
    }
}

:host ::ng-deep {
    .mdc-evolution-chip-set__chips {
        justify-content: center;
    }

    .mat-mdc-chip-option button {
        min-width: 24px;
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {

    .question-container {
        .buttons-container {
            .actions-container {
                flex-direction: column;
    
                .mdc-button:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
        }
    }

}